.nav-tabs, .header-panel {
    background-image: linear-gradient(120deg, #155799, #159957)
}

.pages .nav-tabs>li.active>a {
    background-color: rgba(0, 0, 0, 0.3) !important;
    font-weight: bold;
}

.table {
    font-family: 'Roboto';
}

.table th {
    font-weight: bold;
    background-color: #4CAF50 !important;
    color: white !important;

}

.pages .row .col-xs-10>p>a {
    font-weight: bold;
    color: white;
    margin-left: 20px;
}

.pages .row .col-xs-10>p>a:after {
    padding-left: 10px;
    font-family: 'Glyphicons Halflings';
    content:"\e144";
}

.author:before {
    padding-right: 10px;
    font-family: 'Glyphicons Halflings';
    content: "\e008";
}

.date:before {
    padding-right: 10px;
    font-family: 'Glyphicons Halflings';
    content: "\e109";
    font-style: normal;
}